* {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-color: #fefefe;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main {
    font-size: 20px;
    font-weight: 300;
    padding: px;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    text-align: justify;


}
.select {
    display: flex;
    align-items: normal;
    margin: 10px;

}

article{
    margin: 5px;
}