/* Estilização básica */
*{
  margin: 0;
  padding: auto;
  box-sizing: border-box;
  font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  fieldset {
    margin-bottom: 20px;
    border: none;
  }
  
  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .checkbox {
    display: flex;
    flex-wrap: wrap;
  }
  
  .checkbox article {
    width: 50%;
  }
  
  .checkbox label {
    margin-bottom: 0;
  }
  
  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
  }
  
  .checkbox .select {
    display: flex;
    flex-wrap: wrap;
  }
  
  .checkbox .select article {
    width: 50%;
  }
  
  .checkbox .select label {
    display: block;
  }
  
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .gender{
    display: flex;
    width: 10em;
    margin: 5px 0;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .align-inline {
    display: flex;
    align-items: center;
  }
  
  .align-inline input[type="checkbox"] {
    margin-right: 1px;
  }
  
  /* Estilização responsiva para dispositivos móveis */
  @media screen and (max-width: 600px) {
    form {
      padding: 10px;
    }
  
    input,
    select {
      font-size: 14px;
    }
  
    .checkbox article,
    .checkbox .select article {
      width: 100%;
    }
  }

  input.erro {
    border-color: red;
  }
