* {
    font-family: 'roboto', sans-serif;
    margin: 1px;
    background-color: #fefefe;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;

}

main{ display: inline;

}